body
{
  background-color: #D0D3D4;
  font-weight: bold;
}
header.header{
font-weight: bold;
}

form{
  width: 100%;
  border: 1px solid black;
}

.coordonnées{
  background-color: lavender;
  color: slategray;
  width: 40%;
  position: center;
}

.domaine{
  background-color: lavender;
  color: slategray;
  width: 40%;
  position: center;
}
header.image{




}
.headerimg{
    margin: auto;
    filter: drop-shadow(10px 5px 4px black);
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
