body
{
  background-color: #a78a66;
  font-weight: bold;
}
.header{
font-weight: bold;
}
.coordonnées{
  background-color: lavender;
  color: slategray;
}

.domaine{
  background-color: lavender;
  color: slategray;
}
