body
{
  background-color: #a78a66;
  font-weight: bold;
}
header.header{
font-weight: bold;


}
.coordonnées{
  background-color: lavender;
  color: slategray;
  width: 40%;
  position: center;
}

.domaine{
  background-color: lavender;
  color: slategray;
  width: 40%;
  position: center;
}
header.image{
  background: no-repeat left/cover url(https://media.glassdoor.com/sqll/951996/platypus-squarelogo-1534925482691.png);
  border-radius: 50%;
  margin: auto;
  height: 100px;
  width: 100px;
  align-items: center;

}
